<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-item">
      <div class="dropdown">
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
      </ul>
    </div>
  </div>
</div>
