<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag "living-room-books-group.png", alt: "logo" %>
  </a>

<%= form_tag quotes_path, method: :get do %>
  <%= text_field_tag :quote,
    params[:quote],
    class: "form-control",
    placeholder: "Search"
  %>
<% end %>

<a href="#" class="btn">Add your own quote</a>

</div>

