
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
  </script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js">
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('/coverphoto.jpg');">
  <div class="banner-content">
    <h1>Quotley</h1>
    <h2>Favourite Kindle quotes in one place</h2>
    <div>
      <br>
    <p>Find a quote you like and get the book</p>
    </div>
  </div>
</div>

<html lang="en" class>

<div data-reactroot="" class="container">
  <div class="masonry-container">
    <div class="masonry">
      <div class="column">
        <div>
          <div class="blockquote">
            <blockquote class="quote-box1">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
              <a target="_blank" href="https://www.amazon.co.uk/Great-Gatsby-F-Scott-Fitzgerald/dp/8172344562/ref=sr_1_6?ie=UTF8&amp;qid=1541773033&amp;sr=8-6&amp;keywords=the+great+gatsby&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=1678f55f50811c0f43bb48282df4f0a4&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">‘Whenever you feel like criticizing any one,’ he told me, ‘just remember that all the people in this world haven’t had the advantages that you’ve had.’</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </p>
            <hr>
            <div class="blog-post-actions">
            <p class="blog-post-author pull-right">
              F. Scott Fitzgerald <br> ~ The Great Gatsby
            </p>
            </div>
          </blockquote>
          </div>
        </div>

          <div>
            <div class="blockquote">
              <blockquote class="quote-box2">
                <p class="quotation-mark">“</p>
                <p class="quote-text">
                  <a target="_blank" href="https://www.amazon.co.uk/Handmaids-Tale-Vintage-Classics/dp/1784873187/ref=sr_1_cc_1?s=aps&amp;ie=UTF8&amp;qid=1542020422&amp;sr=1-1-catcorr&amp;keywords=the+handmaids+tale+book&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=27632049718ced87295023ad8eac0c06&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">There is more than one kind of freedom, said Aunt Lydia. Freedom to and freedom from. In the days of anarchy, it was freedom to. Now you are being given freedom from. Don’t underrate it. </a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                  </p>
                  <hr>
                <div class="blog-post-actions">
                  <p class="blog-post-author pull-right">
                  Margaret Atwood <br> ~ The Handmaid's Tale
                  </p>
                </div>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="blockquote">
              <blockquote class="quote-box3">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Great-Gatsby-F-Scott-Fitzgerald/dp/8172344562/ref=sr_1_6?ie=UTF8&amp;qid=1541773033&amp;sr=8-6&amp;keywords=the+great+gatsby&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=1678f55f50811c0f43bb48282df4f0a4&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">Two musicians could play the same notes and sound entirely different. Intonation was everything.</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <hr>
              <div class="blog-post-actions">
              <p class="blog-post-author pull-right">
                Liane Moriarty <br> ~ Truly Madly Guilty
              </p>
            </div>
          </blockquote>
            </div>
          </div>

    <div>
      <div class="blockquote">
      <blockquote class="quote-box1">
         <p class="quotation-mark">
           “
         </p>
         <p class="quote-text">
          <a target="_blank" href="https://www.amazon.co.uk/Little-Life-Shortlisted-Booker-Prize-ebook/dp/B00UXKJ1HK/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1542021638&amp;sr=1-1&amp;keywords=-+Hanya+Yanagihara&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=2c2267d25c8a2b9549fb34da81805af5&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;" >When did pursuing your ambitions cross the line from brave into foolhardy? How did you know when to stop?</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

         </p>
         <hr>
         <div class="blog-post-actions">
           <p class="blog-post-author pull-right">
             Hanya Yanagihara <br> ~ A Little Life: A novel
         </div>
       </blockquote>
  </div>
  </div>


        </div>



      <div class="column">
        <div>
          <div class="blockquote">
            <blockquote class="quote-box2">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Little-Life-Shortlisted-Booker-Prize-ebook/dp/B00UXKJ1HK/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1542021638&amp;sr=1-1&amp;keywords=-+Hanya+Yanagihara&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=2c2267d25c8a2b9549fb34da81805af5&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;" >It is morals that help us make the laws, but morals do not help us apply them.</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <hr>
              <div class="blog-post-actions">
              <p class="blog-post-author pull-right">
                Hanya Yanagihara <br> ~ A Little Life: A novel
              </p>
            </div>
          </blockquote>
          </div>
        </div>

        <div>
          <div class="blockquote">
            <blockquote class="quote-box3">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Narconomics-How-Run-Drug-Cartel/dp/1785030426/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1542022123&amp;sr=1-1&amp;keywords=narconomics&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=7b53593c6f32cc2c8ade6ef929007c30&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;" >The one way that criminal organizations can enforce contracts is with violence, which is why a capacity to intimidate and kill is at the heart of any drug cartel’s success. But deploying violence is an expensive course of action and bad for business. </a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <div class="blog-post-actions">
              <hr>
              <p class="blog-post-author pull-right">
              Tom Wainwright <br> ~ Narconomics: How To Run a Drug Cartel
              </p>
            </div>
          </blockquote>
          </div>
        </div>

        <div>
          <div class="blockquote">
            <blockquote class="quote-box1">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Handmaids-Tale-Vintage-Classics/dp/1784873187/ref=sr_1_cc_1?s=aps&amp;ie=UTF8&amp;qid=1542020422&amp;sr=1-1-catcorr&amp;keywords=the+handmaids+tale+book&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=27632049718ced87295023ad8eac0c06&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">We were the people who were not in the papers. We lived in the blank white spaces at the edges of print. It gave us more freedom. We lived in the gaps between the stories</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <hr>
              <div class="blog-post-actions">
              <p class="blog-post-author pull-right">
              Margaret Atwood <br> ~ The Handmaid's Tale
              </p>
            </div>
          </blockquote>
          </div>
        </div>

         <div>
      <div class="blockquote">
      <blockquote class="quote-box2">
         <p class="quotation-mark">
           “
         </p>
         <p class="quote-text">
          <a target="_blank" href="https://www.amazon.co.uk/Picture-Dorian-Gray-Wordsworth-Classics/dp/1853260150/ref=sr_1_1?ie=UTF8&amp;qid=1542026386&amp;sr=8-1&amp;keywords=the+picture+of+dorian+gray&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=df6dbee0f91278f3b557c72f6eb9c7cd&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">Nowadays people know the price of everything and the value of nothing.</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
         </p>
         <hr>
         <div class="blog-post-actions">
           <p class="blog-post-author pull-right">
             Oscar Wilde <br> ~ The Picture of Dorian Gray
           </p>
         </div>
       </blockquote>
  </div>
  </div>

      </div>

      <div class="column">
      <div>
      <div class="blockquote">
      <blockquote class="quote-box3">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Maya-Angelou-Complete-Poetry-Dr/dp/0349006210/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1542023070&amp;sr=1-1&amp;keywords=Maya+Angelou%3A+The+complete+Poetry&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=814a84b68921dd2aa588fec16a1b83cf&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">Too proud to bend, <br>Too poor to break</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <hr>
              <div class="blog-post-actions">
              <p class="blog-post-author pull-right">
              Maya Angelou <br> ~ The Complete Poetry
              </p>
            </div>
          </blockquote>
  </div>
  </div>
    <div>
      <div class="blockquote">
      <blockquote class="quote-box1">
            <p class="quotation-mark">“</p>
              <p class="quote-text">
                <a target="_blank" href="https://www.amazon.co.uk/Importance-Being-Earnest-Oscar-Wilde/dp/1503331741/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1542024286&amp;sr=1-1&amp;keywords=the+importance+of+being+earnest&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=977f3e8aeb257957f6e14e9a8cf463dd&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">The very essence of romance is uncertainty. If ever I get married, I’ll certainly try to forget the fact.</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
              </p>
              <hr>
              <div class="blog-post-actions">
              <p class="blog-post-author pull-right">
              Oscar Wilde <br> ~ The Importance of Being Earnest
              </p>
            </div>
          </blockquote>
  </div>
  </div>


    <div>
      <div class="blockquote">
      <blockquote class="quote-box3">
         <p class="quotation-mark">
           “
         </p>
          <p class="quote-text">
            <a target="_blank" href="https://www.amazon.co.uk/Handmaids-Tale-Vintage-Classics/dp/1784873187/ref=sr_1_cc_1?s=aps&amp;ie=UTF8&amp;qid=1542020422&amp;sr=1-1-catcorr&amp;keywords=the+handmaids+tale+book&_encoding=UTF8&tag=howhardcanitb-21&linkCode=ur2&linkId=27632049718ced87295023ad8eac0c06&camp=1634&creative=6738" style="color:white; text-decoration:none; font-weight:normal;">We lived, as usual, by ignoring. Ignoring isn’t the same as ignorance, you have to work at it.</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=howhardcanitb-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

          </p>
          <hr>
          <div class="blog-post-actions">
            <p class="blog-post-author pull-right">
              Margaret Atwood <br> ~ The Handmaid's Tale
           </p>
         </div>
       </blockquote>
  </div>
  </div>

  </div>


  </div>
  </div>
  </div>
  </div>

  <div class="footer">
  <div class="footer-links">
    Kindle® is a registered trademark of Amazon.com Inc. Quotley is not endorsed by, sponsored by, or affiliated with Amazon.com Inc.
  </div>
  <div class="footer-copyright">
  © MD <%= Date.today.year %>
  </div>
</div>

