.masonry-container{
  width: 90%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid rgba(0,0,0,0);
}

.masonry{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  margin: auto;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-grow: 1;
}

.tile{
  justify-content: center;
  margin: 4px;
  border-radius: 10px;
  img{
    box-shadow: 0 1px 1px 2px rgba(0,0,0,.15);
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

.blockquote {
  margin: 4px;
  border-left:none;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  position: relative;
  width: flex;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  padding-bottom: 4em;
}

.quote-header{
  color:white;
  font-size: 25px;
  font-weight: bold;
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);
}

.quote-box{
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: #0b032d;
  color:white;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  opacity: 0.9;
  transition: 0.3s;
}

.quote-box1{
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  margin-top: 25px;
  background-color: #0b032d;
  color:white;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  opacity: 0.8;
  transition: 0.3s;
}

.quote-box2{
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  margin-top: 25px;
  background-color: #843b62;
  color:white;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  opacity: 0.8;
  transition: 0.3s;
}


.quote-box3{
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  margin-top: 25px;
  background-color: #f67e7d;
  color:white;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  opacity: 0.8;
  transition: 0.3s;
}

.quote-box:hover {
  opacity: 1;
}

.quote-box1:hover {
  opacity: 1;
}

.quote-box2:hover {
  opacity: 1;
}

.quote-box3:hover {
  opacity: 1;
}

.quotation-mark{
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color:white;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text{
  font-size: 19px;
  margin-top: -65px;
}

.blog-post-author{
  font-style: italic;
}


@media only screen and (min-device-width: 320px) and (max-width:  480px) {

  .blockquote{
    margin: auto;
    width: 100%;
    border-radius: 17px;
    padding-bottom: 4em;
  }
}


