.profile-dashboard {
  display: grid;
  grid-template-columns: 400px repeat(2, 1fr);
  grid-template-rows: 50% 25% 25%;
}

p.a {
    font-style: normal;
}

p.b {
    font-style: italic;
}

.element1 {
  grid-row: 1 /span 1;
  grid-column: 1 / span 2;
  transition-duration: 0.5s;
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  background-color: #A6CFC8;
  color: white;
  position: relative;
  border-radius: 25px;
  margin: 8px;
  padding: 10px;
}

.element2 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  background-color: #144c52;
  color: white;
  position: relative;
  border-radius: 25px;
  margin: 8px;
  padding: 10px;
}

.element3 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.element4 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

.element5 {
  grid-row: 3 /span 1;
  grid-column: 2 / span 2;
}

.element6 {
  grid-row: 3 / span 2;
  grid-column: 4 / span 1;
}

.element7 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}

.element8 {
  grid-row: 4 / span 1;
  grid-column: 3 / span 2;
}

/* White cards design */
.main .description .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* fonts and colours*/
.main h2 {
  font-size: 24px;
}
.main h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

